MONGO_URI=<your_mongoDB_URI>

PORT=5000

JWT_SECRET=<generate a token and place it here>

JWT_EXPIRES_IN=7d

ADMIN_USERNAME=<pick a username>

ADMIN_PASSWORD=<pick a password>

FRONTEND_URL=http://localhost:4200